# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen### Redis template
# Ignore redis binary dump (dump.rdb) files

*.rdb

*build.json

registry/containers/*

network/nodes
network/local-mode-cache

*.env


compose/core/containers/